{% extends "shops/base_seller_account.html" %}


{% block content %}

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <h4> Buyer: </h4>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Fist Name</p>
                                    <input type="text" value="{{ order.buyer.first_name }}" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Last Name</p>
                                    <input type="text" value="{{ order.buyer.last_name }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Phone</p>
                                    <input type="text" value="{{ order.buyer.customer.phone_number }}"
                                           readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email</p>
                                    <input type="text" value="{{ order.buyer.customer.email }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="checkout__order__products">Product details:</div>
                                <ul>
                                    <li> Name <span> {{ order.product.product_name }}</span></li>
                                </ul>
                                <ul>
                                    <li> Quantity <span> {{ order.amount }}</span></li>
                                </ul>
                                <ul>
                                    <li> Price <span> {{ order.product.price }}</span></li>
                                </ul>
                                <div class="checkout__order__total">Total <span>{{ order.total_price }}</span></div>
                                <ul>
                                    <li> Status <span> {{ form.status }}</span></li>
                                </ul>
                                <button type="submit" class="site-btn">Update Status</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

{% endblock content %}
