{% extends "shops/base_buyer_account.html" %}

{% block content %}
    <div class="container">
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="mb-3">Tender details</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Tender name</h6>
                            <small class="text-muted">{{ tender.tender_name }}</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Description</h6>
                            <small class="text-muted">{{ tender.description }}</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">End day</h6>
                            <small class="text-muted">{{ tender.end_day }}</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Minimum seller rank</h6>
                            <small class="text-muted">{{ tender.minimum_required_rank }}</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Status: </span>
                        <strong>{{ tender.get_status_display }}</strong>
                    </li>
                </ul>
                {% if tender.product_parameter.all and tender.status == 0 %}
                    <div class="card p-2">
                        <form action={% url "tenders:tender_status_update" tender.pk %} method="post">
                            {% csrf_token %}
                            <button value="Publish a tender" name="publish_a_tender" class="site-btn"> Publish a
                                tender
                            </button>
                        </form>
                    </div>
                {% elif tender.status == 1 %}
                    <form action={% url "tenders:tender_status_update" tender.pk %} method="post">
                        {% csrf_token %}
                        <div class="card p-2">
                            <button type="submit" value="Cancel" name="cancel" class="site-btn"> Cancel</button>
                        </div>
                    </form>
                {% endif %}
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Products:</h4>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th style="width: 34%;">Product name</th>
                            <th style="width: 22%;">Amount</th>
                            <th style="width: 22%;">Product brand</th>
                            <th style="width: 22%;">Category</th>
                        </tr>
                        </thead>
                        {% if tender.product_parameter.all %}
                            <tbody>
                            {% for product_parameter in tender.product_parameter.all %}
                                <tr>
                                    <th>{{ product_parameter.products.product_name }}</th>
                                    <td>{{ product_parameter.amount }}</td>
                                    <td>{{ product_parameter.products.brand.name }}</td>
                                    <td>{{ product_parameter.products.category.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
                {% if not tender.product_parameter.all %}
                    <div class="d-grid gap-2 col-7 mx-auto">
                        <h4> Please add product to your tender:) </h4>
                    </div>
                {% endif %}
                {% if tender.status == 0 %}
                    <div class="d-grid gap-2 col-5 mx-auto">
                        <a href="{% url "tenders:tender_add_product_parameter" tender.pk %}" class="site-btn">Add
                            product to tender </a>
                    </div>
                {% endif %}
                {% if tender.status != 0 %}
                    <h4 class="mb-3">Requests:</h4>
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th style="width: 34%;">Seller</th>
                                <th style="width: 22%;">Seller rank</th>
                                <th style="width: 22%;">Total price</th>
                                <th style="width: 22%;">Select winner</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for request in tender.request.all %}
                                <tr>
                                    <th>{{ request.seller.brand_name }}</th>
                                    <td>{{ request.seller.rank }}</td>
                                    <td>{{ request.total_price }}</td>
                                    <td>
                                        <form action={% url "tenders:tender_status_update" tender.pk %} method="post">
                                            {% csrf_token %}
                                            <button value="Publish a tender" name="publish_a_tender"
                                                    class="site-btn"> Select
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <th><h5> No requests yet! Be first !)) </h5></th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
